@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto:wght@700&display=swap');

/* font-family: 'Oswald', sans-serif; */

.mainfont {
  font-family: 'Roboto', sans-serif;
}

.sectionfont {
  font-family: 'Oswald', sans-serif;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;

}